
body{
    background-color:#ffffff;
}
.map {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    
.map iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

.mba{
    font-size: 4em;
    text-align: center;
    text-decoration: underline;
}